<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Custom Pipes</h1>
  <h3 class="text-xl font-light">Custom pipes developed for this app</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">Toggle Case Pipe</div>
    <div class="stat-value">{{name() | toggleCase: upperCase() }}</div>
    <div class="stat-desc">{{name()}}</div>

    <button 
      (click)="upperCase.set(!upperCase())"
    class="btn btn-primary mt-2">ToggleCase</button>
  </div>
</div>