<section class="alert alert-error mt-10 flex flex-col items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="75"
      height="75"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0m9-3v4m0 3v.01"
      />
    </svg>
    <h3>No se encontró el país</h3>
    <a href="goBack()" class="btn btn-secondary cursor-pointer">Regresar a la página anterior</a>
  </section>
