<!-- Forma de hacer las cosas con Angular 19 (resources) -->

<country-search-input
  placeholder="Buscar país por capital"
  (value)="query.set($event)"
/>

@if (countryResource.error()) {
  <div class="alert alert-error mt-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0m9-3v4m0 3v.01"
      />
    </svg>
    <h3>{{ countryResource.error() }}</h3>
  </div>
}

@if (countryResource.hasValue()) {
  <country-list
  [countries]="countryResource.value()!"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value().length === 0"
  [isLoading]="countryResource.isLoading()"
  />
}


<!-- Forma anterior de hacer las cosas -->

<!-- <country-search-input
  placeholder="Buscar país por capital"
  (value)="onSearch($event)"
/>

@if (isError()) {
  <h3>{{isError()}}</h3>
} @else {
  <country-list [countries]="countries()"/>
} -->
